* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1a2e3a;
}

h1 {
    color: #fff;
    /* color: #F5465D; */
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.sortTypeButtonsDiv {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.changeSortTypeButton {
    height: 3rem;
    width: 9rem;
    border-style: none;
    font-size: 1rem;
    border-radius: 0.6rem;
    cursor: pointer;
}

.changeSortTypeButton.activeButton {
    /* background: #fc6f03; */
    background: #7F5497;
    color: white;
    font-weight: 700;
}

.changeSortTypeButton.inactiveButton {
    background: #253f4e;
    color: white;
    font-weight: 700;
}

.generateSortButtonsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.generateArrayButton {
    height: 3rem;
    width: 9rem;
    border-style: none;
    font-size: 1rem;
    border-radius: 0.6rem;
    cursor: pointer;
    /* background: #006774; */
    background: #253f4e;
    color: white;
    font-weight: 700;
}

.sortButton {
    height: 3rem;
    width: 9rem;
    border-style: none;
    font-size: 1rem;
    border-radius: 0.6rem;
    cursor: pointer;
    /* background: #7F5497; */
    background: #fc6f03;
    /* background: #F5465D; */
    color: white;
    font-weight: 700;
}

.board {
    width: 90vw;
    height: 500px;
    background: #1d3546;
    /* background: #203744; */
    padding: 0 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.bar {
    width: 6px;
}

.bar.sorted {
    background: #e46f16;
}

.bar.unsorted {
    background: #b66d00;
}
